.itme-post-cart{
  border: 1px solid #909090;
  border-radius: 12px;   
  overflow: hidden;
}
.itme-post-cart .img{
  background-color: #fff;
  min-height: 150px;
  position: relative;
}
.post-title{
  height: 40px;
  font-size: 13px;
  overflow: hidden;
}
.post-title::first-letter {
  text-transform: uppercase;
}
.itme-post-cart img{
  width: 100%;
  object-fit: contain;
  height: 20vh;
}
.category{
  background: #109be9;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  color: #fff;
  padding: 8px 12px;
}
.category::first-letter {
  text-transform: uppercase;
}